* {
  box-sizing: border-box;
  vertical-align: middle;
  transition-duration: 100ms;
}

header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1.2em;
}

a:link {
  color: #213665;
}

a:visited {
  color: #213665;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.timeline{
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
}

.timeline .timebox{
  display: flex;
  flex-direction: row;

  color: white;

  width: 15.5em;
  margin: 1em 0em;
}

.timeline .timebox .timebox-dotbox{
  height: 0.5em;
  width: 2em;
  margin: auto 0.25em;
  border-radius: 0.25em;

  background-color: #bbbbbb;
  
  display: inline-block;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline .timebox .timebox-circle{
  height: 10em;
  width: 10em;
  margin: 0em 0.25em;


  border-radius: 5em;
  border-style: solid;
  border-color: white;
  border-width: 0.2em;

  background-color: #213665;

  display: flex;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline .timebox .timebox-content{
  display: block;
  margin: auto;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic; 
}

.timeline .timebox .timebox-content span{
  line-height: 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 3em;
}

.content {
  padding: 3em 0em 0em;
}

.container {
  padding: 0.8em 1.2em;
}

.container h2 {
  text-align: center;
}

.logo {
  width: 2.1em;
}

.hide-mobile {
  display: none;
}

.menu {
  width: 25px;
  margin: 0.5em auto 0.5em 25%;
}
.hero-li {
  margin-bottom: 1.4em;
}
.hero-p {
  font-weight: 100;
}

.hero-span {
  font-weight: 900;
}

.title {
  position: relative;
  font-size: 14vw;
  margin-bottom: 0.7em;
  font-weight: bold;
}

.title .shadow-1 {
  position: absolute;
  top: 5vw;
  opacity: 0.15;
}

.title .shadow-2 {
  position: absolute;
  top: 10vw;
  opacity: 0.05;
}

.blue-container {
  background: #213665;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  margin: 0em 0em;
}

.blue-container .container {
  padding: 0.75em 0em;
}

.blue-container .container h2 {
  margin: 0 auto;
}

/* .preevent li {
  text-align: center;
  margin-bottom: 3em;
} */

/* .preevent img {
  width: 70%;
}
.preevent h3 {
  font-size: 2em;
  font-weight: 700;
  margin: 0.4em 0;
}
.preevent p {
  margin-top: -1em;
} */

.landing-competition {
  text-align: center;
}

.landing-competition-quote {
  background: url("images/building-landing.jpg");
  background-size: 100%;
  color: white;
  font-weight: bold;
  font-size: 7vw;
  padding: 0.1em 0;
  background-position: 50% 15%;
  margin-bottom: 0.8em;
}

.landing-competition-quote p {
  padding: 0em 0em;
  margin: 0.6em;
  background: rgba(94, 94, 94, 0.5);
}

.landing-competition span {
  font-weight: 900;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .title {
  margin-bottom: 0.7em;
}

.login .textbox {
  margin: 0.3em 0;
}

.textbox {
  width: 20em;
}

.textbox input {
  border: none;
  border-radius: 0.3em;
  outline: none;
  padding: 0.3em 0.3em;
  background: #e0e0e0;
  font-size: 1em;
  color: #213665;
  font-family: "Overpass";
  width: 100%;
}

.textbox select {
  border: none;
  border-radius: 0.3em;
  outline: none;
  padding: 0.6em 0.6em;
  background: #e0e0e0;
  font-size: 1em;
  color: #213665;
  font-family: "Overpass";
  width: 100%;
}

.forget-pw {
  text-align: center;
  margin: 0.3em 0;
}

.forget-pw ul {
  justify-content: space-between;
}

.forget-pw ul li {
  margin: 1em;
}

.login .login-btn {
  margin-top: 0.5em;
  width: 20%;
  outline: none;
  border: none;
  padding: 0.3em 1em;
  border-radius: 0.2em;
  font-size: 1em;
  background: #213665;
  color: white;
  font-family: "Overpass";
}

.profile .title {
  font-size: 9vw;
}

.profile .title .shadow-1 {
  top: 3vw;
}

.profile .title .shadow-2 {
  top: 6vw;
}

.profile .textbox {
  margin-bottom: 1em;
  width: 75%;
}

.profile h3 {
  margin: 1.3em 0 0.3em;
  font-size: 2em;
}

.profile .textbox h4 {
  margin: 1em 0 0.3em;
  font-size: 1.5em;
}

.profile .textbox input {
  margin: -2em 0;
}

.profile .button {
  background: #213665;
  color: white;
  font-family: "Overpass";
  width: 30%;
}

.profile .agreement h4 {
  margin: 1em 0 0.3em;
  font-size: 1.5em;
}

.profile button {
  margin-top: 1.5em;

  outline: none;
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.2em;
  font-size: 1em;
  background: #213665;
  color: white;
  font-family: "Overpass";
}

.profile .secondary-button {
  outline-color: #213665;
  background-color: #f0f0f8;
  color: #213665;
}

.profile .agreement .button {
  width: 50%;
}

.profile .agreement p {
  border: none;
  border-radius: 0.3em;
  outline: none;
  padding: 0.3em 0.3em;
  font-size: 1em;
  font-family: "Overpass";
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
}

.profile .agreement .button-container {
  margin-top: 2em;
}

.profile .agreement a {
  margin-left: 1em;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.textbox p {
  border: none;
  border-radius: 0.3em;
  outline: none;
  padding: 0.3em 0.3em;
  background: #e0e0e0;
  font-size: 1em;
  color: #213665;
  font-family: "Overpass";
  width: 100%;
  margin: 0.5em 0;
}

.strategicc-hero p {
  margin-bottom: 3em;
}

.strategicc-hero span {
  font-weight: 900;
}

.strategicc-hero .speakers {
  text-align: center;
}

.strategicc-hero .speakers img {
  width: 35%;
  border-radius: 50%;
}

.strategicc-hero .speakers h3 {
  margin: 0;
  padding: 0;
}

.strategicc-hero .speakers h4 {
  margin: 0;
  padding: 0;
}

.strategicc-hero .speakers li {
  margin-bottom: 4em;
}

.strategicc-timeline {
  text-align: center;
  margin: 5em 0;
}

.strategicc-timeline h2 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 100;
}

.strategicc-timeline h1 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 900;
}

.strategicc-timeline button {
  margin-top: 1.5em;

  outline: none;
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.2em;
  font-size: 1.5em;
  background: #213665;
  color: white;
  font-family: "Overpass";
}

.minicc-timeline {
  text-align: center;
  margin: 5em 0;
}

.minicc-timeline h2 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 100;
}

.minicc-timeline h1 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 900;
}

.minicc-timeline button {
  margin: 1em;
  outline: none;
  border: none;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  font-size: 1.1em;
  background: #213665;
  color: white;
  font-family: "Overpass";
  width: 40%;
}

.competition-hero {
  margin-bottom: 4em;
}

.competition-hero p {
  font-size: 1em;
}

.competition-hero span {
  font-weight: 900;
}

.competition-guidelines {
  text-align: center;
}

.competition-guidelines p {
  margin-top: -1em;
}

.competition-guidelines li {
  margin-bottom: 4em;
}

.competition-awards {
  text-align: center;
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
}

.competition-awards h2 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 100;
}

.competition-awards h1 {
  font-size: 2.5em;
  margin-top: 0.2em;
  font-weight: 900;
}

.competition-awards img {
  width: 35%;
  border-radius: 50%;
  margin: 0.8em;
}

.competition-awards h3 {
  padding: 0;
  margin: 0;
  color: #213665;
  font-weight: bold
}

.competition-awards h4 {
  padding: 0;
  margin: 0;
  color: #213665;
  font-style: italic;
}

.guidebook-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.guidebook-button button {
  margin-top: 1.5em;
  outline: none;
  border: none;
  padding: 0.3em 1em;
  border-radius: 0.2em;
  font-size: 1.2em;
  background: #213665;
  color: white;
  font-family: "Overpass";
  text-align: center;
}

.vertical-center {
  margin-top: 0.5em;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.clickable {
  transition-duration: 100ms;
}

.clickable:hover {
  color: #213665;

  transition-duration: 100ms;
  background-color: #e0e0e0;
}

.clickable:active {
  color: #b8bece;

  transition-duration: 20ms;
  background-color: #56698e;
}

.landing-competition {
  justify-content: center;
  align-items: center;
}

.landing-competition1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ld-comp-quote-top {
  font-size: 1.7em;
  width: 70%;
  margin: auto;
}

.landing-competition .learn-more {
  font-size: 2em;
}

.landing-competition2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("images/building-landing.jpg");
  background-color: #eee;
  background-size: cover;
  color: #213665
}

.landing-competition2 p {
  font-size: 1.2em;
}

.land-comp

.awards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.awards-list .awards-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0.5em;
  flex-wrap: wrap;
}

.the-winners {
  display: flex;

  width: 15em;
  min-height: 15em;
  background-color:#eeeeee;
  padding: 2em;
  margin: 0.5em 0.5em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.land-comp2-content .icon {
  height: 7em;
  width: auto;
  padding: 0.5em;
  margin: 0.5em;
}

.land-comp2-content .company {
  height: auto;
  width: 5em;
  padding: 0.5em;
  margin: 0.5em;
}

.land-comp2-content {
  margin: 1em;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
}

.land-comp2-content p {
  padding: 0.5em;
  font-style: italic;
  font-size: 1em;
  margin: auto 0.5em;
  display: inline-block;
}

.copyright{
  background-color: #213665;
}

.footer-top{
  background-color: #eee;
  padding: 1em;
}

.copyright p{
  margin: 1em;
  color: white;
  font-style: italic;
}

.faq-list {
  margin-top: 1.5em;
}

.faq-list ul {
  list-style: none;
}

.faq-list li {
  display:flex;
  flex-direction: row;
  margin: 0.8em;
}

.faq-list ul li::before {
  color: #eeeeee;
  content: "Q";
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #213665;
  font-family: Overpass;
  margin-right: 0.5rem;
  text-align: center;
  display: inline-block;
  line-height:2rem;
  width:2rem;
  height:2rem;
  font-size:20px;
  font-weight:500;
  padding-top: 0.1em;
}

.faq-item button {
  border: none;
  text-align: left;
}

.faq-item h5 {
  font-weight:bold;
  color: #213665;
  font-family: Overpass;
  margin:0.2em;
}

.faq-item p {
  margin: 0.4em 0.2em 0.2em 0em;
  padding-left: 0.2em;
  padding-top: 0.2em;
  font-weight:100;
  color: #213665;
  font-family: Overpass;
  font-size:medium;
}

@media only screen and (min-width: 768px) {
  .copyright {
    box-shadow: inset 100px 0px 100px -50px #D4D4CC, 
              inset -100px 0px 100px -50px #D4D4CC;
  }

  .footer-top {
    box-shadow: inset 100px 0px 100px -50px #D4D4CC, 
              inset -100px 0px 100px -50px #D4D4CC;
  }

  .container {
    padding: 1.6em 0em;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: initial;
  }

  .content {
    margin-top: 2em;
    padding: 2em 10em 0em;
  }

  .blue-container {
    background: #213665;
    color: white;
    margin: 0em -7em;
  }

  header {
    padding: 0.8em 10em;
    top: 0px;
  }

  header .logo {
    width: 2.5em;
  }

  header nav {
    margin: auto 0;
  }

  nav ul {
    font-size: 1.3em;
  }

  nav ul li {
    display: inline;
    padding: 1em 1em;
  }

  .title {
    font-size: 9vw;
  }

  .title .shadow-1 {
    top: 3vw;
  }

  .title .shadow-2 {
    top: 6vw;
  }

  .hero ul {
    display: flex;
    justify-content: space-between;
  }

  .hero p {
    font-size: 1.4em;
  }

  .hero ul li {
    width: 30%;
  }

  .hero {
    padding-bottom: 5em;
  }

  /* .preevent ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .preevent li {
    text-align: justify;
    width: 22%;
  } */

  /* .preevent p {
    font-size: 1.2em;
  }
  .preevent img {
    width: 100%;
  }
  .preevent .learn-more {
    font-size: 1.2em;
    font-weight: 700;
  } */

  .landing-competition {
    justify-content: center;
    align-items: center;
  }

  .landing-competition1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-competition .learn-more {
    font-size: 2em;
  }

  .landing-competition2 {
    flex-direction: row;
  }

  .landing-competition2 p {
    font-size: 1.2em;
  }

  .land-comp2-content {
    width: 20em;
    flex-direction: column;
    align-items: center;
  }

  .land-comp2-content {
    margin: 1em;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
  }

  .land-comp2-content .icon {
    width: 12em;
    height: auto;
    padding: 0.5em;
    margin: 1em 1em 0em 1em;
  }

  .land-comp2-content .company {
    width: auto;
    height: 4em;
    padding: 0.5em;
    margin: 1em 1em 0em 1em;
  }

  .land-comp2-content p {
    padding: 0.5em;
    margin: 0em 1em 1em 1em;
    font-size: 1.2em;
  }

  .competition-hero p {
    font-size: 1.5em;
  }

  .guidebook-button button {
    margin-top: 1.5em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-size: 2em;
  }

  .strategicc-timeline h2 {
    font-size: 4em;
  }

  .strategicc-timeline h1 {
    font-size: 4em;
  }

  .strategicc-timeline button {
    margin-top: 1.5em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-size: 2em;
  }

  .competition-awards h2 {
    font-size: 4em;
    margin-top: 1em;
    font-weight: bold;
  }

  .competition-awards h1 {
    font-size: 4em;
  }

  .benefits-list {
    flex-wrap: nowrap;
  }

  .awards-list {
    flex-wrap: nowrap;
  }

  .competition-awards img {
    width: 50%;
  }

  .competition-awards h3 {
    font-size: 2em;
  }

  .competition-awards h4 {
    font-size: 1.5em;
    font-weight: 100;
  }

  .login .textbox {
    margin: 0.3em 0;
    width: 30em;
  }

  .textbox input {
    padding: 0.6em;
    font-size: 1.3em;
    width: 100%;
  }

  .forget-pw ul li {
    font-size: 1.3em;
  }

  .login .login-btn {
    width: 30%;
    outline: none;
    border: none;
    padding: 0.7em 1em;
    font-size: 1.5em;
  }

  .profile .title {
    font-size: 7.5vw;
  }

  .profile .title .shadow-1 {
    top: 2.5vw;
  }

  .profile .title .shadow-2 {
    top: 5vw;
  }

  .strategicc-hero p {
    font-size: 1.6em;
  }

  .strategicc-hero .speakers ul {
    display: flex;
    justify-content: center;
  }

  .strategicc-hero .speakers ul li {
    width: 33%;
  }

  .strategicc-hero .speakers img {
    width: 50%;
  }

  .strategicc-hero .speakers h3 {
    font-size: 2.5em;
  }

  .strategicc-hero .speakers h4 {
    font-size: 2em;
    font-weight: 100;
  }

  .minicc-timeline h2 {
    font-size: 4em;
  }

  .minicc-timeline h1 {
    font-size: 4em;
  }

  .minicc-timeline button {
    margin-top: 1.5em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-size: 2em;
  }

  .flex-fullscreen {
    display: flex;
    justify-content: center;
  }

  .flex-left,
  .flex-right {
    width: 100%;
  }

  .profile .textbox {
    margin-bottom: 1em;
    width: 80%;
  }

  .profile h3 {
    margin: 1.3em 0 0.3em;
    font-size: 2em;
  }

  .profile .textbox h4 {
    margin: 1.3em 0 0.3em;
    font-size: 1.5em;
  }

  .profile .textbox input {
    margin: 0em 0 0;
  }

  .profile-right p {
    font-size: 1.2em;
    padding: 0.7em 0.3em;
  }

  .vertical-center {
    margin-top: 8em;
  }
}

